.header {
  padding-top: 10px;
  border-bottom: 1px solid #c0c0ff;
  padding-bottom: 5px;
  margin-bottom: 2px; }
  .header #logo {
    height: 60px;
    background: url(../images/logo.jpg) top left no-repeat;
    width: 200px;
    text-indent: -10000px;
    margin-top: 0; }

.footer {
  text-align: center;
  border-top: 1px solid #c0c0ff; }

.main {
  border: black 1px solid; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.flash_container {
  padding-left: 10px;
  padding-right: 10px; }

#flash {
  list-style: none; }
  #flash li.error {
    border: 2px solid red;
    background: pink;
    padding: 5px; }
  #flash li.notice {
    border: 2px solid #a0a0a0;
    background: #e0e0e0;
    padding: 5px; }
  #flash li.success {
    background: #9be59f;
    border: 2px solid green;
    padding: 5px; }

.caption {
  font-size: 1.5em; }

.box {
  border: 1px solid green; }
